.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

/* HEADER */

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color: rgb(253, 253, 252);
  background-color: black;
  padding-top: 1rem;
}

#header-nav ul {
  display: flex;
  align-items: center;
}

#header-nav li {
  list-style-type: none;
  margin-right: 3rem;
}

#cart {
  width: 3vw;
  margin-right: 5rem;
}

#header-logo {
  width: 5vw;
  pointer-events: none;
  margin-right: 7rem;
}

/* Footer */
.footer {
  background-color: black;
  padding: 3rem 0;
}
.footer-info {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}

.footer-img {
  width: 4rem;
  height: 4rem;
}

.footer-text {
  color: rgb(253, 253, 252);
  margin-top: 1rem;
  border-bottom: 1px solid antiquewhite;
}

.info-cont {
  width: fit-content;
  text-align: center;
}

.footer-tags {
  width: 100%;
  text-align: center;
  margin-top: 3rem;
  padding-top: 3rem;
  border-top: 1px solid antiquewhite;
}

.footer-tag {
  width: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

/* Contact */

.contact-page {
  display: flex;
  justify-content: space-evenly;
  padding: 10rem 0;
  align-items: center;
  background-color: #fecea8;
}

.map-cont {
  width: 600px;
  height: 550px;
}

.contact-cont {
  font-size: 1.5rem;
  color: #355c7d;
  font-weight: 700;
  font-family: "Noto Serif";
}

/* About Us */

.about-page {
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-page p {
  color: rgb(250, 92, 92);
  width: 50vw;
  font-size: 1.2rem;
  font-weight: 800;
}

/* Menu */

.menu-page {
  background-color: #355c7d;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#cart {
  position: relative;
}

#cartNumber {
  position: absolute;
  top: 20px;
  right: 60px;
}
